[Unit]  
Description=AirUPnP bridge  
After=network-online.target  
Wants=network-online.target  

[Service]  
ExecStart=/usr/bin/airupnp -Z
Restart=on-failure  
RestartSec=30  

[Install]  
WantedBy=multi-user.target  
